AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1

# Optional, defaults to "stirante.com"
S3_DOCS_BUCKET=stirante.com

# Optional, defaults to "script"
S3_DOCS_PREFIX=script

# Optional
CLOUDFRONT_DISTRIBUTION_ID=
