<html>

<head>
  <title>Diff Minecraft Script API</title>
  <link rel="stylesheet" href="style.css">
  <script type="module">
    import * as Diff from 'https://unpkg.com/diff@5.1.0/dist/diff.js';

    export class ElementType {
      static ENUM = "enum";
      static CLASS = "class";
      static INTERFACE = "interface";
      static METHOD = "method";
      static PROPERTY = "property";
      static PARAMETER = "parameter";
      static TYPE_ALIAS = "type_alias";
    }

    export class ChangeType {
      static REMOVED = 0;
      static CHANGED = 1;
      static ADDED = 2;
    }

    export class Change {
      constructor(type, changeDetail, groupName, oldValue, newValue, href) {
        this.type = type;
        this.changeDetail = changeDetail;
        this.groupName = groupName;
        this.oldValue = oldValue;
        this.newValue = newValue;
        this.href = href;
      }
      static added(groupName, newValue, href, changeDetail = '') {
        return new Change(ChangeType.ADDED, changeDetail, groupName, null, newValue, href);
      }
      static removed(groupName, oldValue, href, changeDetail = '') {
        return new Change(ChangeType.REMOVED, changeDetail, groupName, oldValue, null, href);
      }
      static changed(groupName, oldValue, newValue, href, changeDetail = '') {
        return new Change(ChangeType.CHANGED, changeDetail, groupName, oldValue, newValue, href);
      }
      toString() {
        let changeDiv = document.createElement('div');
        changeDiv.className = 'change';
        let chipDiv = document.createElement('div');
        let a = document.createElement('a');
        a.href = this.href;
        switch (this.type) {
          case ChangeType.ADDED:
            chipDiv.className = 'chip chip-added';
            return `<div class="change"><a href="${this.href}"><div class="chip chip-added">ADDED</div> ${this.changeDetail + this.newValue.replaceAll('<', '&lt;').replaceAll('>', '&gt;')}</a></div>`;
          case ChangeType.REMOVED:
            return `<div class="change"><a href="${this.href}"><div class="chip chip-removed">REMOVED</div> ${this.changeDetail + this.oldValue.replaceAll('<', '&lt;').replaceAll('>', '&gt;')}</a></div>`;
          case ChangeType.CHANGED:
            return `<div class="change"><a href="${this.href}"><div class="chip chip-changed">CHANGED</div> ${this.changeDetail}${highlightDifferences(this.oldValue, this.newValue)}</a></div>`;//${this.changeDetail + this.oldValue} -> ${this.newValue}
          default:
            throw new Error(`Unknown change type: ${this.type}`);
        }
      }
    }

    function linkParents(element) {
      ['properties', 'parameters'].forEach(key => {
        if (element[key]) {
          element[key].forEach(child => {
            child.parent = element;
            linkParents(child);
          });
        }
      });
    }

    function buildMap(elements) {
      const map = new Map();
      elements.forEach(element => {
        linkParents(element);
        map.set(element.name, element);
      });
      elements.forEach(element => {
        element.inheritedMembers = getInheritedMembers(element, map);
      });
      return map;
    }

    function getInheritedMembers(element, map) {
      let inheritedMembers = [];
      if (element.extends) {
        for (const parent of element.extends) {
          const parentElement = map.get(parent);
          if (parentElement) {
            inheritedMembers = [...inheritedMembers, ...getInheritedMembers(parentElement, map), ...parentElement.properties.filter(x => x.name !== 'constructor')];
          }
        }
      }
      if (element.superClass) {
        const parent = map.get(element.superClass);
        if (parent) {
          inheritedMembers = [...inheritedMembers, ...getInheritedMembers(parent, map), ...parent.properties.filter(x => x.name !== 'constructor')];
        }
      }
      // Remove duplicates
      const asName = inheritedMembers.map(member => member.name);
      inheritedMembers = inheritedMembers.filter((member, index) => asName.indexOf(member.name) === index);
      return inheritedMembers;
    }

    export function compareStructures(a, b, path, versionA, versionB) {
      const aMap = buildMap(a);
      const bMap = buildMap(b);
      const aKeys = [...aMap.keys()].sort();
      const bKeys = [...bMap.keys()].sort();
      let changed = [];

      aKeys.forEach(name => compareElements(aMap.get(name), bMap.get(name), changed, path, versionA, versionB));
      bKeys.forEach(name => aMap.get(name) || compareElements(aMap.get(name), bMap.get(name), changed, path, versionA, versionB));

      return changed;
    }

    function toString(element) {
      switch (element.type) {
        case ElementType.ENUM:
          return `enum ${element.name}`;
        case ElementType.CLASS:
        case ElementType.INTERFACE:
          return `${element.type} ${element.name}`;
        case ElementType.METHOD:
          return `${element.parent ? element.parent.name + '.' : ''}${element.name}(${element.parameters.map(param => `${param.name}: ${param.parameterType}`).join(', ')}): ${element.result}`;
        case ElementType.PROPERTY:
          return `${element.parent ? element.parent.name + '.' : ''}${element.name}: ${element.propertyType}`;
        case ElementType.TYPE_ALIAS:
          return `type ${element.name} = ${element.propertyType}`;
        default:
          throw new Error(`Unknown element type: ${element.type}`);
      }
    }

    function processChanges(changes, aName, bName, changed, path, versionA, versionB) {
      let i = 0;
      while (i < changes.length) {
        const part = changes[i];
        if (part.added) {
          if (i > 0 && changes[i - 1].removed) {
            for (let j = 0; j < part.count; j++) {
              changed.push(Change.changed(aName, `${aName}.${changes[i - 1].value[j]}`, `${bName}.${part.value[j]}`, `/script/${path}/${versionB}/enums/${bName}.html#${part.value[j]}`, `${bName} type: `));
            }
            i++; // skip next part as it's already processed
          } else {
            changed.push(...part.value.map(value => Change.added(bName, `${bName}.${value}`, `/script/${path}/${versionB}/enums/${bName}.html#${value}`)));
          }
        } else if (part.removed) {
          if (i < changes.length - 1 && changes[i + 1].added) {
            // do nothing as this part will be handled in the next iteration
          } else {
            changed.push(...part.value.map(value => Change.removed(aName, `${aName}.${value}`, `/script/${path}/${versionA}/enums/${aName}.html#${value}`)));
          }
        }
        i++;
      }
    }

    /**
     * Compares two elements and adds the result to the changed array.
     */
    function compareElements(a = {}, b = {}, changed, path, versionA, versionB) {
      if (a.type !== b.type && a.type && b.type) {
        changed.push(Change.changed(a.name, `${a.type}`, `${b.type}`, makeHref(path, versionB, b), `${b.name} type: `));
      }
      let type = a.type || b.type;

      if (type === ElementType.ENUM) {
        const aValues = a.values || [];
        const bValues = b.values || [];
        const changes = window.Diff.diffArrays(aValues.sort(), bValues.sort(), { comparator: (a, b) => a === b });
        processChanges(changes, a.name, b.name, changed, path, versionA, versionB);
      } else if ([ElementType.CLASS, ElementType.INTERFACE].includes(type)) {
        compareProperties(a.properties || [], b.properties || [], a.inheritedMembers || [], b.inheritedMembers || [], changed, path, versionA, versionB);
      } else if ([ElementType.METHOD, ElementType.PROPERTY, ElementType.TYPE_ALIAS].includes(type)) {
        compareLeaves(a, b, changed, path, versionA, versionB);
      }
    }

    /**
     * Compares two elements, that can have child elements and adds the result to the changed array.
     */
    function compareProperties(aProperties, bProperties, aInherited, bInherited, changed, path, versionA, versionB) {
      const aMap = buildMap([...aProperties, ...aInherited]);
      const bMap = buildMap([...bProperties, ...bInherited]);

      aProperties.forEach(property => compareElements(aMap.get(property.name), bMap.get(property.name), changed, path, versionA, versionB));
      bProperties.forEach(property => aMap.get(property.name) || compareElements(aMap.get(property.name), bMap.get(property.name), changed, path, versionA, versionB));
    }

    /**
     * Compares two elements, that don't have any child elements and adds the result to the changed array.
     */
    function compareLeaves(a, b, changed, path, versionA, versionB) {
      if (a.type && b.type && toString(a) !== toString(b)) {
        if (b.parent?.name !== a.parent?.name) {
          changed.push(Change.changed(a.parent?.name, toString(a), toString(b), makeHref(path, versionB, b)));
        } else {
          changed.push(Change.changed(b.parent?.name, toString(a), toString(b), makeHref(path, versionB, b)));
        }
      } else if (!a.type) {
        changed.push(Change.added(b.parent?.name, toString(b), makeHref(path, versionB, b)));
      } else if (!b.type) {
        changed.push(Change.removed(a.parent?.name, toString(a), makeHref(path, versionA, a)));
      }
    }

    function makeHref(path, version, element) {
      let elementType = '';
      switch (element.type) {
        case ElementType.CLASS:
          elementType = 'classes';
          break;
        case ElementType.INTERFACE:
          elementType = 'interfaces';
          break;
        case ElementType.ENUM:
          elementType = 'enums';
          break;
        case ElementType.TYPE_ALIAS:
          elementType = 'types';
          break;
        case ElementType.METHOD:
        case ElementType.PROPERTY:
          if (element.parent && element.parent.type === ElementType.CLASS) {
            elementType = 'classes';
          } else if (element.parent && element.parent.type === ElementType.INTERFACE) {
            elementType = 'interfaces';
          } else {
            elementType = 'variables';
          }
          break;
      }
      if (!element.parent) {
        return `/script/${path}/${version}/${elementType}/${element.name}${elementType === 'variables' ? '-1' : ''}.html`;
      }
      return `/script/${path}/${version}/${elementType}/${element.parent.name}.html#${element.name}`;
    }

    function highlightDifferences(str1, str2) {
      const diff = window.Diff.diffWords(str1, str2);
      let originalResult = '';
      let changedResult = '';

      diff.forEach(part => {
        const escapedValue = escapeHtml(part.value);
        if (part.added) {
          changedResult += `<span class="added">${escapedValue}</span>`;
          // originalResult += `<span class="placeholder">${' '.repeat(part.value.length)}</span>`;
        } else if (part.removed) {
          originalResult += `<span class="removed">${escapedValue}</span>`;
          // changedResult += `<span class="placeholder">${' '.repeat(part.value.length)}</span>`;
        } else {
          originalResult += `<span class="common">${escapedValue}</span>`;
          changedResult += `<span class="common">${escapedValue}</span>`;
        }
      });

      return originalResult + ' -&gt; ' + changedResult;
    }

    function escapeHtml(unsafe) {
      return unsafe
        .replace(/&/g, "&amp;")
        .replace(/</g, "&lt;")
        .replace(/>/g, "&gt;")
        .replace(/"/g, "&quot;")
        .replace(/'/g, "&#039;");
    }

    function setFromHash() {
      const hash = window.location.hash;
      if (hash) {
        let [module, versionA, versionB] = hash.substring(1).split('/');
        if (!module || !versionA || !versionB) {
          console.log('Invalid hash', hash);
          window.location.hash = '';
          return;
        }
        module = decodeURIComponent(module);
        versionA = decodeURIComponent(versionA);
        versionB = decodeURIComponent(versionB);
        if (!document.diffData[module]) {
          console.log('Unknown module', module);
          window.location.hash = '';
          return;
        }
        if (!document.diffData[module].versions.includes(versionA) || !document.diffData[module].versions.includes(versionB)) {
          console.log('Unknown version', versionA, versionB);
          window.location.hash = '';
          return;
        }
        moduleSelect.value = module;
        moduleSelect.onchange();
        versionASelect.value = versionA;
        versionBSelect.value = versionB;
        compareButton.click();
      }
    }

    document.diffData = await fetch('diff.json').then(r => r.json());
    const moduleSelect = document.getElementById('module');
    const versionASelect = document.getElementById('versionA');
    const versionBSelect = document.getElementById('versionB');
    const compareButton = document.getElementById('compare');
    moduleSelect.innerHTML = Object.keys(document.diffData).map(module => `<option value="${module}">${module}</option>`).join('\n');
    moduleSelect.onchange = () => {
      compareButton.removeAttribute('disabled');
      const module = moduleSelect.value;
      versionASelect.innerHTML = document.diffData[module].versions.map(version => `<option value="${version}">${version}</option>`).join('\n');
      versionBSelect.innerHTML = document.diffData[module].versions.map(version => `<option value="${version}">${version}</option>`).join('\n');
      versionASelect.value = document.diffData[module].versions[1];
      versionBSelect.value = document.diffData[module].versions[0];
    }
    moduleSelect.value = Object.keys(document.diffData)[0];
    moduleSelect.onchange();
    compareButton.onclick = async () => {
      document.location.hash = `${encodeURIComponent(moduleSelect.value)}/${encodeURIComponent(versionASelect.value)}/${encodeURIComponent(versionBSelect.value)}`;
      document.getElementById('changes').innerHTML = 'Comparing...';
      const module = moduleSelect.value;
      const versionA = versionASelect.value;
      const versionB = versionBSelect.value;
      const path = document.diffData[module].path;
      const a = await fetch(`${path}/${versionA}/structure.json`).then(r => r.json());
      const b = await fetch(`${path}/${versionB}/structure.json`).then(r => r.json());
      let changes = compareStructures(a, b, path, versionA, versionB);
      if (changes.length == 0) {
        document.getElementById('changes').innerHTML = 'No changes';
        return;
      }
      let changeMap = {};
      let others = [];
      changes.forEach(change => {
        if (change.groupName && !changeMap[change.groupName]) {
          changeMap[change.groupName] = [];
        } else if (!change.groupName) {
          others.push(change);
          return;
        }
        changeMap[change.groupName].push(change);
      });
      let changelog = '';
      for (const key of Object.keys(changeMap)) {
        changelog += `<div class="change-group"><h3>${key}</h3><div class="change-list">${changeMap[key].map(change => change.toString()).join('\n')}</div></div>`;
      }
      for (const change of others) {
        changelog += change.toString();
      }
      document.getElementById('changes').innerHTML = changelog;
    };
    setFromHash();
  </script>
</head>

<body>
  <header class="tsd-page-toolbar">
    <div class="tsd-toolbar-contents container">
      <div id="tsd-search" class="table-cell">
        <span class="title" style="font-weight: bold;">Diff Minecraft Script API</span>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="tsd-panel">
      <label for="module">Choose module</label>

      <select name="module" id="module">
      </select>
      <label for="versionA">Choose first version</label>

      <select name="versionA" id="versionA">
      </select>
      <label for="versionB">Choose second version</label>

      <select name="versionB" id="versionB">
      </select>

      <button id="compare" disabled>Compare</button>
      <div id="changes">
      </div>
    </div>
</body>
</div>

</html>